<style>
  nav {
      transition: transform 0.3s ease;
  }
  
</style>
<!-- Barra de navegación -->
<nav class="bg-white bg-opacity-10 backdrop-filter backdrop-blur-lg fixed top-0 left-0 right-0 z-50">
  <div class="container mx-auto px-6 py-4 flex justify-between items-center">
    <a href="{{url_for('index')}}" class="text-white" >
      <h1  class="text-3xl font-extrabold inline-flex">
        <span class="bg-clip-text text-transparent bg-gradient-to-r from-pink-500 to-purple-500" id="nav-name">Alexan</span>
        <span class="text-white">Dev</span>
      </h1>
    </a>
    <ul class="flex space-x-8 text-white">
      <li><a href="#about" class="hover:text-pink-500 transition">Sobre Mi</a></li>
      <li><a href="#projects" class="hover:text-pink-500 transition">Projectos</a></li>
      <li><a href="#contact" class="hover:text-pink-500 transition">Contacto</a></li>
    </ul>
  </div>
</nav>

